.desk-chip {
  float: right;
  border: 1px solid #673ab7;
  border-radius: 1em;
  padding: 0 .5em;
  margin: 0 .5em;
  background-color: #e0cfff;
}

.week-menu {
  max-width: 40em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}
