<h1>{{ title }}</h1>
<div class="week-menu">
  <button mat-button (click)="previousWeek()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div><h2>week</h2>
    <p *ngIf="bookingsGroupByDay.length > 0">from {{bookingsGroupByDay[0].day | date}} to {{bookingsGroupByDay[4].day | date}}</p></div>
  <button mat-button (click)="nextWeek()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
<div *ngFor="let bookingInOneDay of bookingsGroupByDay">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Bookings for {{bookingInOneDay.day | date}}:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let booking of bookingInOneDay.bookings">
          <mat-icon matListItemIcon>person</mat-icon>
          <strong>{{booking?.name}}</strong>
          <span class="desk-chip">{{booking?.desk?.data?.attributes?.name}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab extended color="primary" aria-label="Book a desk action"
              (click)="openDialog(bookingInOneDay.day)">
        <mat-icon>add</mat-icon>
        Book a desk
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
