<h1 mat-dialog-title>Book a desk</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="outline" (keyup.enter)="onYesClick()" cdkFocusInitial>
      <mat-label>Your name:</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" (keyup.enter)="onYesClick()">
      <mat-label>Desk:</mat-label>
      <mat-select [(ngModel)]="data.deskId">
        <mat-option *ngFor="let desk of desks"
                    [value]="desk.id"
                    [disabled]="!desk.isAvailable">
          {{desk.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions (keyup.enter)="onYesClick()">
  <button mat-button (click)="onNoClick()">
    Cancel
  </button>
  <button mat-button [mat-dialog-close]="{name: data.name, day: data.day, deskId: data.deskId}">
    Ok
  </button>
</div>
