/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 1em;
  background-color: aliceblue;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  padding: 1em;
  margin: 1em 0 .5em;
}

mat-card {
  margin: 1em 0;
  max-width: 40em;
}

mat-list-item:hover {
  background-color: rgba(224, 207, 255, 0.84);
}
